In [1]:
!pip install faker
from faker import Faker
fake = Faker()
import random
import pandas
from random import randint, choices

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` lenght
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
        
        self.df = df
        self.rows = rows

        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
            
        Returns
        -------
        data frame
        """
        
        self.column_name = column_name
        self.small_value = small_value
        self.high_value = high_value
        rows = rows[:]
        
        self.df[column_name] = [(randint(small_value, high_value)) for i in (range(len(self.df)))]
        
        return self.df       
    
        
    def add_name(self, column_name):
        """
        adds fake name to the data frame with `column_name`
            
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        
        self.df[column_name] = [fake.name().split(' ')[0] for i in (range(len(self.df)))]
        
        return self.df
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.colmn_name = column_name
        self.df[column_name] = [fake.name().split(' ')[1] for i in (range(len(self.df)))]
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
            
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        dframe['Email Address'] = [fake.email() for i in (range(len(self.df)))]
        return self.df
    
    def add_phone_number(self, column_name):
        """
        adds fake name to the data frame with `column_name`
            
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        self.df[column_name] = [fake.phone_number() for i in (range(len(self.df)))]
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.column_name = column_name
        self.df[column_name] = [fake.address() for i in (range(len(self.df)))]
        return self.df

Requirement already satisfied: faker in c:\users\danielle\anaconda3\lib\site-packages (6.4.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\danielle\anaconda3\lib\site-packages (from faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in c:\users\danielle\anaconda3\lib\site-packages (from faker) (1.3)
Requirement already satisfied: six>=1.5 in c:\users\danielle\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [2]:
import pandas as pd

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [3]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')

,product_id,shipping_address,billing_address,customer_phone
0,123,"43665 Herman Center\nJimmyland, WV 70520","4765 Thomas Courts\nReynoldsville, ME 32073",+1-744-801-4824
1,124,"11087 Moore Trafficway Suite 840\nRojasfort, A...","602 Garrett Point\nMayohaven, MS 93721",001-422-659-7981x1568
2,125,18093 Turner Pine Suite 433\nSouth Kelseymouth...,"018 Weeks Key Apt. 907\nNew Karenville, DC 04166",612.653.6514
3,126,"05033 Richard Lakes Suite 420\nCarterside, OR ...","5381 Cordova Glens\nAmyfurt, CA 56934",+1-424-490-4956x2678
4,127,"138 Rios Highway Suite 747\nJohnmouth, VA 89850","63743 Christian Lock\nPort Brenda, GA 65563",(151)171-9697
5,128,"711 Barker Isle\nElizabethshire, SC 30395","6511 Nicole Forks Apt. 585\nAndersonhaven, MT ...",(465)367-3613x1675
6,129,"72397 Ibarra Crossing Suite 444\nNew Kaylee, O...","238 Thompson Summit Apt. 622\nChristineton, NC...",736.419.6622x5004
7,130,"149 Michael Rapids\nPort Allen, ID 47381","334 Jeffrey Mountain\nSarahhaven, AR 24950",001-035-152-2412x860
8,131,"1626 Matthew Camp\nMccarthyville, WI 29424","7738 Daniel Parks\nSolisfort, ID 06618",001-142-072-1666
9,132,"9256 Ryan Trail Apt. 947\nNew Paul, MD 16528","864 Lowe Port Suite 062\nNorth Catherinemouth,...",(947)819-8121x140
10,133,6254 Johnson Brooks Suite 902\nSouth Connielan...,USS Pierce\nFPO AA 44521,5372056732
11,134,"34100 Henderson Prairie Apt. 245\nHeatherland,...","73694 Monica Overpass\nPort Elizabeth, WY 15040",+1-218-621-7551x219
12,135,"617 Simmons Burgs Apt. 259\nNew Sabrinastad, G...","38382 Kennedy Station Apt. 068\nJonesstad, RI ...",001-245-373-4936
13,136,"2674 Joy Burg\nNew Angela, IN 62302","5787 Clark Squares Apt. 329\nHenryfurt, NH 18427",153-859-7549
14,137,"9186 Baker Street Suite 795\nPort Lori, AK 11684","6510 Brown Stream\nNorth Cynthia, CA 57754",330.793.3779x34439
15,138,"43187 Baker Valleys Suite 819\nSouth Katrina, ...","3277 Sean Centers\nProctorhaven, NJ 39731",001-725-907-7449x128
16,139,Unit 4254 Box 0865\nDPO AP 45227,"PSC 4475, Box 2616\nAPO AA 52806",784-335-3852x265
17,140,"18427 Karen Estates Apt. 401\nRonaldside, CT 6...","PSC 7063, Box 5485\nAPO AE 68298",+1-537-761-9334
18,141,"PSC 6389, Box 3498\nAPO AA 20798","66884 Amy Wells Suite 831\nMikaylaview, MO 78914",+1-893-855-8980
19,142,"2498 Miller Stream\nCarrollton, NE 44853","895 Cross Dale Suite 889\nDianaport, WV 91342",010.391.3922x89729
20,143,"4280 Rose Pine\nWadeside, IL 19583","78529 Antonio Freeway Apt. 904\nCurtisside, AK...",001-550-604-1383x36094
21,144,"1039 Miller Meadows Suite 981\nJaclynmouth, NC...","945 Johnson Oval\nJeromeshire, MO 39791",001-694-295-0951x9634
22,145,"06884 David Alley Suite 262\nPort Charlesfort,...","038 Fritz Meadow\nKristinastad, DC 12930",001-340-399-5049x73786
23,146,"1063 Jordan Crest Suite 398\nBaileyside, NM 77358","26830 Ashley Rapid Apt. 278\nNew Davidberg, DE...",502-324-4577
24,147,"1602 John Plain\nLake Allen, CA 97922","56670 Carter Corner\nAntoniochester, ME 88934",7391925675

In [4]:
# Case 2 - no dataframe

fakeGen = FakeDataGenerator() # no df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')
fakeGen.add_random_number('sale_count', 10, 100)

#I can't figure out how to make your example from piazza work. :(

TypeError: object of type 'NoneType' has no len()